.vscode/
*.js
*.d.ts
*.js.map
*.metadata.json
!gulp-tasks/**/*.js
!gulpfile.js
!bundlefile.js
!tasks-config.js
node_modules/
.tmp/
npm-debug.log*
ngfactory/
TODO.md
ng2-base/
!ng2-base/index.ts
src/ng2-base*
