node_modules/
src/
.vscode/
typings/
TODO.md
*.ts
!*.d.ts
!aot/**/*
.tmp/
config/
gulp-tasks/
TODO.md
bundlefile.js
gulpfile.js
.npmignore
.gitignore
tsconfig-aot.json
tsconfig.json
*.css
*.scss
*.html
tmp/
npm-debug.log.tmp/
.config/
TODO.md
