.vscode/
typings/
TODO.md
*.ts
!*.d.ts
!aot/**/*
bundlefile.js
gulpfile.js
node_modules/
gulp-tasks/
tslint.json
tsconfig.json
tsconfig-aot.json
*.css
*.scss
*.html
src/
tmp/
aot/
ngfactory/
npm-debug.log.tmp/
.config/
TODO.md
